:root {
  /* font styles */
  --ff: "Manrope", sans-serif;
  --fs: 1rem; /* should be 13px */
  --fs-head: 0.925rem;
  --fs-smaller: 0.762rem;
  --fw-one: 500;
  --fw-two: 700;

  /* colors */
  --darker-color: hsl(217, 19%, 35%);
  --dark-color: hsl(214, 17%, 51%);
  --grey-blue-color: hsl(212, 23%, 69%);
  --light-blue-color: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

/* css reset simple */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
  font-size: var(--fs);
  margin: 0 auto;
  background-color: var(--light-blue-color);

}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 329px;
    max-height: auto;
    border-radius: 10px;
    border: 3px dotted red;
    background-color: var(--white);
    position: relative;
    
}

.share-section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px dotted black;
  padding-bottom: 0;
  margin: 0;
   display: none;
   /* use this to hid all of the div display: none;
   
   */
}

.article-heading {
  font-size: var(--fs-head);
  padding-bottom: 10px;
  
}

.article-description {
  font-size: var(--fs-smaller);
  padding-bottom: 20px;
}

.article {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: var(--white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 260px; /* */
}

.drawer-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hidden {
  display: none;
}

.michelle-avatar {
  border-radius: 50%;
}



.share-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--light-blue-color);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.share-circle::after {
  position: absolute;
  z-index: 0;
  display: block;
}

#share-btn {
  cursor: pointer;
}

.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}


.avatar-info {
  font-size: var(--fs-smaller);
  padding-left: 15px;
  
}

.avatar-name {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  font-size: var(--fs-smaller);
  letter-spacing: 4px;
  color: var(--dark-color);
  font-weight: bold;
  color: var(--grey-blue-color);

}
.share-section-two {
  background-color: var(--darker-color);
 
  margin: 0;
  width: 100%;
  height: auto; /* dont set height yet */
  position: absolute;
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 50px;
  /* display: none;*/
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.share-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 720px) {
 

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    
  }

  .drawer-image {
    width: 50%;
    border-top-right-radius: 0;
  }


}